.idea\workspace.xml
*.class
*.xml
.idea/workspace.xml
*.class
*.class
*.class
*.class

Jowil Stats.iml

build/
target/

target/classes/Jowil/Controller$1.class
target/classes/Jowil/Controller$2.class
target/classes/Jowil/Controller.class
