/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
AnchorPane{
-fx-background-color:white;

}
JFXButton{
-fx-border-color: #3184c9;
-fx-text-fill: #3184c9;
-fx-background-color:white;
}
JFXButton:hover {
    /*-fx-text-fill: white;*/
    -fx-background-color: 	#87CEEB;
}


JFXTextField{
    -fx-prompt-text-fill: #989898;
    -fx-font-size:14;

}

TableView{
-fx-border-color:#1E90FF;
}

.BlueJFXButton{
    -fx-background-color:#4169E1;-fx-text-fill: white;
}
.BlueJFXButton:hover{
    -fx-background-color:#6585e7;
}

.BlueJFXButton:pressed{
    -fx-background-color:#4169E1;
}

JFXComboBox{
    -fx-prompt-text-fill: #989898;
    -fx-font-size:14;

}







