/* .default-color0.chart-bar { -fx-bar-fill: #08436B }
.data11.chart-bar {-fx-bar-fill: #2bdb34} */
.axis-label { -fx-font-size: 1.9em ; }
.chart-title {
    -fx-font-size: 2em;
  }

  .axis{
    -fx-tick-label-font-size: 1.3em;
  }

  .normal { 
    -fx-bar-fill:#084d78
  }
  .chart { 
    -fx-background-color: white ; 
    -fx-vertical-grid-lines-visible:false;
  }
  .chart-plot-background {
    -fx-background-color:white;
}

  .easiest { 
      -fx-bar-fill:green ; 
  }
  .hardest { 
    -fx-bar-fill: rgb(202, 51, 51) ; 
  
  }
  
