/* .default-color0.chart-bar { -fx-bar-fill: #08436B }  */
/* .data1.chart-bar {-fx-bar-fill: #2bdb34}  */

.chart { 
    /* -fx-margin: -10px; */
    -fx-background-image: url("white.png");
}
.axis-label { -fx-font-size: 1.5em ; }
.chart-title {
    -fx-font-size: 2em;
  }

  .axis{
    -fx-tick-label-font-size: 1.3em;
  }
.red { 
    -fx-bar-fill: red ; 
}
.green { 
    -fx-bar-fill: #2bdb34; 
}
.normal { 
    -fx-bar-fill: #08436B
}